<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Authentication data pass to product form -->
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="authentication_photo_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">SK\ProductCOA\Ui\DataProvider\Product\Form\Modifier\AuthenticationPhotoDataProvider</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <!-- End Authentication data pass to product form -->
    
</config>