<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\App\Router\Base">
        <plugin name="custom_dashed_url_router"
                type="SK\ProductCOA\Plugin\FrontendRouter"
                sortOrder="10" />
    </type>

</config>
